<plugin name='apns' version='1.2' grailsVersion='2.3.11 &gt; *'>
  <author>Sebastien Arbogast, Arthur Neves</author>
  <authorEmail>sebastien.arbogast@gmail.com, arthurnn@gmail.com</authorEmail>
  <title>Apple Push Notification Service</title>
  <description>\
This plugin allows you to integrate with Apple Push Notification service to send
push notifications to an iPhone client of your Grails application.
</description>
  <documentation>http://www.grails.org/plugin/apns</documentation>
  <type>ApnsGrailsPlugin</type>
  <resources />
</plugin>